[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jonbri
[access "refs/for/refs/*"]
	read = group user/jonbri
	push = group user/jonbri
	label-Code-Review = -2..+2 group user/jonbri
	label-Verified = -1..+1 group user/jonbri
	rebase = group user/jonbri
	removeReviewer = group user/jonbri
	submit = group user/jonbri
[access "refs/heads/*"]
	read = group user/jonbri
	create = group user/jonbri
	push = +force group user/jonbri
	pushMerge = group user/jonbri
[access "refs/tags/*"]
	push = +force group user/jonbri
	pushTag = group user/jonbri
	pushSignedTag = group user/jonbri
