$purple: #301934;
$gold: #ffd700;
$white: #fff;

body {
  background-color: $purple;
  color: $gold;
  margin: auto;
  header {
    user-select: none;
    margin-bottom: 5px;
  }
  font-size: 20px;
  padding: 2px 5px;
}

a {
  color: $gold;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 4px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: $gold;
}

h1 {
  font-size: 26px;
  width: 100%;
}
h2 {
  font-size: 20px;
  color: white;
}

.active {
  color: $white;
  transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.links {
  display: flex;
  ul {
    margin-right: 15px;
  }
}

.recordings {
  > section {
    margin-bottom: 10px;
    h2 {
      margin-top: 5px;
    }
  }
}

.hoverable {
  margin: 0;
  > li {
    :hover {
      border-bottom: 1px solid $gold;
      color: $white;
    }
  }
}

.comments {
  background-color: white;
  color: black;
  padding: 0 5px;
  margin-top: 10px;
  font-size: 18px;
  width: 50%;
  li {
    margin-top: 15px;
  }
  header {
    font-weight: bold;
  }
}

ul.inline {
  display: inline;
  li {
    display: inline;
    margin-right: 5px;
  }
}

.available {
  margin-top: 20px;
}
.quality {
  margin-top: 10px;
}
