$purple: #AA076B;
$gold: #FFD700;
$silver: #F2F2F2;

@font-face {
  font-family: Blackfat;
  src: url(./Blackfat.ttf);
}
@font-face {
  font-family: Terminal;
  src: url(./Terminal.ttf);
}

body {
  margin: 0 auto;
  text-align: center;
  display: block;
  padding: 0;
  font-family: Terminal;
  background-color: $purple;
  font-size: 20px;

  // fallback for old browsers
  background: purple;
  background: -webkit-linear-gradient(to left, $purple, #61045F);
  background: linear-gradient(to left, $purple, #61045F);
}
ul, ol {
  padding: 0;
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
h2 {
  color: $gold;
  font-family: Blackfat;
  padding: 7px 0;
  margin: 0;
}
h3 {
  margin: 0;
  margin-top: 2px;
  color: $gold;
}

.App-body {
  max-width: 1000px;
  margin:auto;
  padding: 0 5px;
}


.App-header {
  background-color: black;
  position: relative;
  text-align: left;
  border-top: 2px solid $silver;
  border-bottom: 1px solid $silver;
  >div {
    max-width: 1000px;
    height: 47px;
    margin: auto;
    padding: 5px 0;
    position: relative;
    background-image: url("./rightHeaderImg.png");
    background-position: right top;
    background-repeat: no-repeat;
  }
  h1 {
    font-family: Blackfat;
    float: left;
    color: $gold;
    font-size: 24px;
    letter-spacing: 3px;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    padding-top: 2px;
  }
  aside {
    float: left;
    font-size: 11px;
    color: white;
    font-style: italic;
    position: relative;
    top: 9px;
    margin-left: 4px;
  }
  ul {
    position: absolute;
    bottom: 2px;
    li {
      display: inline;
      margin-left: 5px;
      font-weight: bold;
      font-size: 20px;
      >.activeLink {
        color: $gold;
      }
    }
  }
}


.Home {
  .Home-quickLinks {
    margin-bottom: 10px;
    h3 {
      display: inline;
    }
    ul {
      li {
        display: inline;
        padding-left: 5px;
      }
    }
  }
  .Home-youtubeVideo {
    margin-bottom: 10px;
  }
}

.Recordings {
  ul {
    display: block;
    li {
      display: block;
      text-align: left;
    }
  }
  .Recordings-bottomText {
    background-color: $gold;
    border-radius: 6px;
    width: 90%;
    padding: 5px 10px;
    padding-bottom: 10px;
    text-align: left;
    margin-top: 10px;
  }
  .Recordings-bottomText a {
    color: blue;
  }
}

.Songs {
  ul {
    list-style-type: none;
    text-align: left;
  }
}


.Recording {
  position: relative;
  ol {
    text-align: left;
  }
  .Recording-subcontent {
    background-color: $gold;
    border-radius: 6px;
    width: 90%;
    padding: 5px 10px;
    padding-bottom: 10px;
    text-align: left;
    margin-top: 10px;
  }
  .Recording-subcontent header {
    font-weight: bold;
  }
  .Recording-subcontent li {
    list-style-type: none;
    margin-top: 10px;
  }
  .Recording-nextprev ul {
    font-family: Blackfat;
    text-align: left;
    margin-top: 5px;
  }
  .Recording-nextprev li {
    display: inline;
    margin-right: 5px;
  }
}


.Song {
  ul {
    display: block;
  }
  li {
    display: block;
    text-align: left;
  }
  .Song-subcontent {
    background-color: $gold;
    border-radius: 6px;
    width: 90%;
    padding: 5px 10px;
    padding-bottom: 10px;
    text-align: left;
    margin-top: 10px;
  }
  .Song-subcontent header {
    font-weight: bold;
  }
}

.Downloads {
  ul {
    list-style-type: none;
    text-align: left;
  }
  h3 {
    text-transform: capitalize;
  }
  .zip {
    font-style: italic;
  }
}

.Search {
  ul {
    display: block;
    li {
      display: block;
      text-align: left;
      margin-top: 5px;
    }
  }
  .Search-highlight {
    color: $gold;
  }
}
