.root {
  margin-bottom: 20px;
}

.bodyContainer {
  padding: 0;
}

.header {
  padding: 0;
  border-bottom: 1px solid white;
  background-color: black;
  width: 100%;
  min-width: 420px;
  position: relative;

  .h1Container {
    margin-bottom: -5px;
  }

  .title {
    color: gold;
    margin-right: 4px;
  }

  aside,
  ul,
  li {
    display: inline;
    font-size: 18px;
    @media all and (min-width: 600px) {
      font-size: 20px;
    }
  }

  li {
    margin-right: 7px;
  }

  aside > a {
    font-size: 12px;
    font-style: italic;
  }
}

.active {
  color: gold;
  font-weight: bold;
}

.nextprev {
  font-style: italic;
  font-size: 14px;
}

.nextprevdisabled {
  color: silver;
  font-size: 14px;
}
